# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

!EntradaSalida.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/E1/nbproject/private/
/Experimentos/nbproject/private/
/Experimentos/build/
/Experimentos/dist/
/Prueba/nbproject/private/
/Prueba/build/
/Prueba/dist/
/Ejercicios/nbproject/private/
/Ejercicios/build/
**/*/build/**/*
/Pruebas/build/
/Problemas/nbproject/private/
/Problemas/build/
/Problemas/dist/
/Tema1/EPD1/ExperimentosEPD1/ExperimetosEPD1/nbproject/private/
/Tema1/EPD1/ExperimentosEPD1/nbproject/private/
/Tema2/EPD2/ExperimentosEPD2/nbproject/private/
/Tema2/EPD3/ExperimentosEDP3/nbproject/private/
/Tema3/EPD5/ExperimentosEPD5/nbproject/private/
/Tema1/ProblemasEPD1/nbproject/private/
/Tema1/EPD1/ProblemasEPD1/nbproject/private/
/Tema1/EPD1/EjerciciosEPD1/nbproject/private/
/Tema1/EjerciciosClase/nbproject/private/
/Tema3/EjercicioPuntoPixel/nbproject/private/
/Tema1/EPD1/ExperimentosEPD1/build/
/Tema1/EPD1/ExperimentosEPD1/dist/
/Tema1/EPD1/ProblemasEPD1/build/
/Tema1/EPD1/EjerciciosEPD1/build/
/Tema4/ExperimentosEPD8/nbproject/private/
/Tema4/ExperimentosEPD8/build/
/Tema4/EPDFinal/nbproject/private/
/Tema4/EPDFinal/build/
/Tema4/ExperimentosEDP10/nbproject/private/
/Tema4/EPDFinal_90_/EPDFinal_90/nbproject/private/
/Tema4/EPDFinal_90_/EPDFinalPOO/nbproject/private/
/Tema4/EPDFinalPOO/nbproject/private/
/Tema4/EPDFinalPOO/build/
/Tema4/EPDFinalPOO/dist/
/EjerciciosTipoExamFinal/JavaApplication17/nbproject/private/
/EjerciciosTipoExamFinal/EjerciciosTipoExamFinal/nbproject/private/
/EjerciciosTipoExamFinal/EjerciciosTipoExamFinal/build/
/Inmobiliaria/build/